body {
    width: 100%;
    background-color: lightblue;
}

.introduction-container {
    background-color: black;
    border: 1px solid green;
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;

}

.introduction{
    color: white;
    text-align: center;
}

.vicog-container {
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background: url('./../images/WhatsApp\ Image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    
}

.vicog {
    border-radius: 50%;
}

h1{
    text-align: center;
}